<html>
  <head>
    <style>
      ul li {
        margin-bottom: 10px;
      }

      .header {
        padding: 30px;
        background: #00bdff;
        color: white;
        font-size: 30px;
      }
    </style>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
  </head>
  <body>
    <div class="header">
      <h1 style="font-family: verdana">About</h1>
      <form
        id="addForm"
        hx-post="/items"
        hx-target="#items-list"
        hx-swap="innerHTML"
        hx-on::before-request="this.reset()"
        hx-disabled-elt="submitBtn"
      >
        <input
          type="text"
          name="new-item"
          placeholder="Type new info here"
          required
        />
        <input id="submitBtn" type="submit" />
      </form>
      <ul
        id="items-list"
        hx-get="/items"
        hx-trigger="load"
        hx-swap="innerHTML"
      ></ul>
    </div>
  </body>
</html>
